body {

background-color: #fff;
color: white;
padding: 0px;
margin: 0px;

}

#app-body {

background-color: #18453B;
width: 100%;
position: relative;

}



.dropdown-menu {
	margin-left: 15vw;
	width: 55vw;


}

.dropdown-toggle {


}

#bottom-nav {

	background-color: black;
	color: #58FAF4;
	width: 416px;
	height: 5em;
	
	position: absolute;
	bottom: 0px;
	left: 0;
	
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	box-shadow: 0 -5px 10px #071907;
}


#bottom-nav ul {


height: 100%;
width: 100%;
padding: 0px;
margin: 0px;
bottom: 0;
left: 0;



}

#bottom-nav li {

display: inline;
width: 25%;
height: 100%;

padding: 0px;
margin: 0px;
bottom: 0;
left: 0;


}



#bottom-nav a {
display:inline-block;
width: 24%;
height: 100%;
padding-top: 1.7em;
color: white;
transition: background-color .5s;



}

#bottom-nav a:hover {
background-color: grey;
text-decoration: none;


}

.menu {
margin-top: 3em;

 


}


h3 {




}


h1 {



font-size: 150%;

}


img {

position: absolute;

top: 40px;
left: 25px;


}


h2 {

position: absolute;
top: 2px;
left: 50px;
margin-top: 0px;

}

.fa-cog {

position: absolute;
top: 2px;
left: 2px;

}



#meal_time {
	width: 70%;
}

#dining_hall {
	
	width: 70%;

}

#dining-hours {
	width: 100%;
	height: 3em;

}

#settingsone {
	margin-top: 100px;
}


#settingstwo{
	margin-top: 100px;
}

#settingsonebutton {
	width: 100%;
	height: 3em;

}

#settingstwobutton {
	
	width: 100%;
	height: 3em;
	

}



.bs-example {

	position: absolute;
	top: 50px;
	left: 50px;

}

.panel-body  {

	color: black ;
}


.panel-title {

	color: black;
}


.cogsettings > a:link{

	color: white;
}

.cogsettings > a:hover {
	color: white;


}


.cogsettings > a:visited {


color: white;
}

.cogsettings > a:active{
	color: white;

}


.specialpopup{

	text-align: center;


	
	
}

h5 {
	position: absolute;
	bottom: 90%;
	left: 20%;
	font-size: 150%;
}

#menu_select {
	width: 300px;
	padding: 0px;
	padding-top: 3em;
	margin-left: auto;
	margin-right: auto;
}

#menu_select option {
	width: 300px;
}

.menu_form {
	display: inline-block;
	
	color: #000000;
	margin-bottom: 1em;
}

#article {
	display: block;
	position: relative;
	width: 420px;
	height: 600px;
	margin: 100px auto 0 auto;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	padding: 0px;
	background-color: #18453B;
}

#banner {
	width: 416px;
	position: static;
}

#campus_map {
	margin-top: 40px;
	width: 380px;
	height: 480px;
	overflow: auto;
}

#campus_map img{
	position: static;
}

#schedule {
	margin-top: 100px;
}

#setting_dropdown {
	padding: 0;
	margin: 0;
	width: 100%;
}

#login_form {
	margin: 10px;
}

#footer {
	display: block;
	position: static;
	margin-top: 50px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}