body {

background-color: #18453B;
color: white;
padding: 0px;
margin: 0px;

}

#app-body {

background-color: #18453B;
height: 100vh;
width: 100vw;


}



.dropdown-menu {
	margin-left: 15vw;
	width: 55vw;


}

.dropdown-toggle {


}

#bottom-nav {

	background-color: black;
	color: #58FAF4;
	width: 100vw;
	height: 5em;
	
	position: fixed;
	bottom: 0;
	left: 0;
	
	list-style:none;
	margin:0;
	padding:0;
	margin-top: 10em;
	text-align:center;
	box-shadow: 0 -5px 10px #071907;
}


#bottom-nav ul {


height: 100%;
width: 100vw;
padding: 0px;
margin: 0px;
bottom: 0;
left: 0;



}

#bottom-nav li {

display: inline;
width: 25%;
height: 100%;

padding: 0px;
margin: 0px;
bottom: 0;
left: 0;


}



#bottom-nav a {
display:inline-block;
width: 24%;
height: 100%;
padding-top: 1.7em;
color: white;
transition: background-color .5s;



}

#bottom-nav a:hover {
background-color: grey;
text-decoration: none;


}

.menu {


display: block; 


}


h3 {


bottom: 120px;


}


h1 {

font-size: 150%;

}


img {

position: absolute;

top: 40px;
left: 25px;


}


h2 {

position: absolute;
top: 2px;
left: 50px;
margin-top: 0px;

}

.fa-cog {

position: absolute;
top: 2px;
left: 2px;

}

#DiningHall {
	padding-top: 5em;
	padding-left: 15vw;
	width: 70vw;
}

#DiningHours {
	padding-top: 5em;
	padding-left: 15vw;
	width: 70vw;
}

#dining-halls {
	
	width: 100%;
	height: 3em;
	

}

#dining-hours {
	width: 100%;
	height: 3em;

}

#CampusMap {
	padding-left: 0px;
	margin-left: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}





